.country-card {
  border-bottom: 2px solid #b0b0b0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 5px 15px;
  &:hover {
    background-color: #f4f4f4;
  }
  &__bottom {
    display: flex;
    justify-content: flex-start;
  }
  &__spec {
    display: inline-flex;
    margin-right: 5%;
  }
  &__name {
    color: #168fff;
  }
}

.country-card__spec-value {
  color: #168fff;
}
