<div class="country-card">
  <h2 class="country-card__name" (click)="navigateToDetailedPage(country.code)">{{country.name}}</h2>
  <div class="country-card__bottom">
<!--    <div class="country-card__spec">-->
<!--      <p>Name: {{country.name}}</p>-->
<!--    </div>-->
<!--    <div class="country-card__spec">-->
<!--      <p>Code: {{country.code}}</p>-->
<!--    </div>-->
    <div class="country-card__spec">
      <p>Capital: {{country.capital}}</p>
    </div>
<!--    <div class="country-card__spec">-->
<!--      <p>Currency: {{country.currency}}</p>-->
<!--    </div>-->
<!--    <div class="country-card__spec">-->
<!--      <p>Phone: {{country.phone}}</p>-->
<!--    </div>-->
    <div class="country-card__spec">
      <p>Continent: {{country.continent.name}}</p>
    </div>
  </div>
</div>
