.country-card {
  border-bottom: 2px solid #b0b0b0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 5px 15px;

  &:hover {
    background-color: #f4f4f4;
  }

  &__bottom {
    display: flex;
  }

  &__spec {
    display: inline-flex;
    width: 40%;
  }

  &__name {
    color: #168fff;
  }
}

.country-card__spec-value {
  color: #168fff;
  margin-left: 100px;
}
