<main class="main">
  <div class="countries-list">
    <h2 class="countries-list__title" *ngIf="countries.length === 0">We couldn't find anything. try changing filters</h2>
    <h2 class="countries-list__title" *ngIf="countries.length !== 0">Countries</h2>
    <app-spinner *ngIf="countryService.isLoading" class="spinner"></app-spinner>
    <app-company-card [country]="country" *ngFor="let country of countries.slice((countryService.getPage() - 1) * 10, (countryService.getPage() - 1) * 10 + 10)">
    </app-company-card>
    <app-pagination *ngIf="!countryService.isLoading && countries.length !== 0"></app-pagination>
  </div>
  <div class="countries-filters">
    <h2 class="countries-filters__title">Filters</h2>
    <input class="countries-filters__name-input" [(ngModel)]="nameInputValue" type="text"
           (input)="onNameInputChange(nameInputValue)"
           placeholder="Name">
    <div class="countries-filters__radio-block">
      <p>Continent:</p>
      <div class="countries-filters__radio-input"><input [(ngModel)]="radioInputValue" type="radio" name="continent"
                                                         value="Europe"
                                                         (change)="onRadioInputChange(radioInputValue)">Europe</div>
      <div class="countries-filters__radio-input"><input class="countries-filters__radio-input"
                                                         [(ngModel)]="radioInputValue" type="radio" name="continent"
                                                         value="Asia"
                                                         (change)="onRadioInputChange(radioInputValue)">Asia</div>
      <div class="countries-filters__radio-input"><input class="countries-filters__radio-input"
                                                         [(ngModel)]="radioInputValue" type="radio" name="continent"
                                                         value="North America"
                                                         (change)="onRadioInputChange(radioInputValue)">North America</div>
      <div class="countries-filters__radio-input"><input class="countries-filters__radio-input"
                                                         [(ngModel)]="radioInputValue" type="radio" name="continent"
                                                         value="Africa"
                                                         (change)="onRadioInputChange(radioInputValue)">Africa</div>
      <div class="countries-filters__radio-input"><input class="countries-filters__radio-input"
                                                         [(ngModel)]="radioInputValue" type="radio" name="continent"
                                                         value="Antarctica"
                                                         (change)="onRadioInputChange(radioInputValue)">Antarctica</div>
      <div class="countries-filters__radio-input"><input class="countries-filters__radio-input"
                                                         [(ngModel)]="radioInputValue" type="radio" name="continent"
                                                         value="South America"
                                                         (change)="onRadioInputChange(radioInputValue)">South America</div>
      <div class="countries-filters__radio-input"><input class="countries-filters__radio-input"
                                                         [(ngModel)]="radioInputValue" type="radio" name="continent"
                                                         value="Oceania"
                                                         (change)="onRadioInputChange(radioInputValue)">Oceania</div>
    </div>
    <app-multibox></app-multibox>
    <!--    <app-name-input></app-name-input>-->
    <!--    <app-list-filter></app-list-filter>-->
    <!--    <app-radio-filter></app-radio-filter>-->
  </div>
</main>

