@import "../../../styles";
.countries-list {
  width: $mainWidth;
  padding: 30px;
}
.countries-list__title {
  font-size: 32px;
}
.main {
  display: flex;
}

.countries-filters {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: calc(100% - $mainWidth);
  border-left: 2px solid $borderColor;
  padding: 50px;
  &__radio-block {
    display: flex;
    flex-direction: column;
  }
}
.countries-filters__radio-input {
  font-size: 14px;
  input {
    margin-right: 15px;
  }
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.countries-filters__name-input {
  margin-bottom: 30px;
  padding: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid $borderColor;
  caret-color: $mainColor;
  &:focus {
    border-color: $mainColor;
  }
}
