<main class="main">
  <div class="countries-list">
    <h2 class="countries-list__title">Countries</h2>
      <div *ngIf="!countries">
       Loading...
      </div>
    <app-company-card [country]="country" *ngFor="let country of countries">
    </app-company-card>
    <app-pagination></app-pagination>
  </div>
  <div class="countries-filters">
    <h2 class="countries-filters__title">Filters</h2>
      <input [(ngModel)]="nameInputValue" type="text" (input)="onNameInputChange(nameInputValue)"
             placeholder="Filter by country name..">
      <div class="countries-filters__radio-block">
        <input class="countries-filters__radio-input" [(ngModel)]="radioInputValue" type="radio" name="continent"
               value="Europe"
               (change)="onRadioInputChange(radioInputValue)">Europe
        <input class="countries-filters__radio-input" [(ngModel)]="radioInputValue" type="radio" name="continent"
               value="Asia"
               (change)="onRadioInputChange(radioInputValue)">Asia
        <input class="countries-filters__radio-input" [(ngModel)]="radioInputValue" type="radio" name="continent"
               value="North America"
               (change)="onRadioInputChange(radioInputValue)">North America
        <input class="countries-filters__radio-input" [(ngModel)]="radioInputValue" type="radio" name="continent"
               value="Africa"
               (change)="onRadioInputChange(radioInputValue)">Africa
        <input class="countries-filters__radio-input" [(ngModel)]="radioInputValue" type="radio" name="continent"
               value="Antarctica"
               (change)="onRadioInputChange(radioInputValue)">Antarctica
        <input class="countries-filters__radio-input" [(ngModel)]="radioInputValue" type="radio" name="continent"
               value="South America"
               (change)="onRadioInputChange(radioInputValue)">South America
        <input class="countries-filters__radio-input" [(ngModel)]="radioInputValue" type="radio" name="continent"
               value="Oceania"
               (change)="onRadioInputChange(radioInputValue)">Oceania
      </div>
    <!--    <app-name-input></app-name-input>-->
    <!--    <app-list-filter></app-list-filter>-->
    <!--    <app-radio-filter></app-radio-filter>-->
  </div>
</main>

