<main class="main">
  <div class="countries-list">
    <h2 class="countries-list__title">Countries</h2>
      <div *ngIf="!countries">
       Loading...
      </div>
    <app-company-card [country]="country" *ngFor="let country of countries">
    </app-company-card>
    <app-pagination></app-pagination>
  </div>
  <div class="countries-filters">
    <h2 class="countries-filters__title">Filters</h2>
    <input [(ngModel)]="nameInputValue" type="text" (input)="onNameInputChange(nameInputValue)"
           placeholder="Filter by country name..">
    <!--    <app-name-input></app-name-input>-->
    <!--    <app-list-filter></app-list-filter>-->
    <!--    <app-radio-filter></app-radio-filter>-->
  </div>
</main>

