@import "../../../styles";

.main {
  padding: 30px 50px;
}

.country-card__back-btn {
  color: $mainColor;
  user-select: none;
  cursor: pointer;
  display: block;

  &:hover {
    color: $mainColorHover;
  }
}

.country-card__bottom {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}

.country-card__spec {
  span {
    display: inline-block;
  }

  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px 20px 0;
}

.card__value {
  color: $mainColor;
}
